{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>A <strong>Lorente Soluções Tecnológicas para Educação</strong> é uma empresa de desenvolvimento e comunicação que oferece soluções
   para diversos desafios encontrados no dia a dia de ambientes escolares, colegiais e universitários.
</p>
<p>Este aplicativo web é uma demonstração do poder e elegância de nossas soluções, oferecendo gerenciamento completo 
    de um processo seletivo.
</p>

{% endblock %}
